# Domains
SHOP_DOMAIN=shop.kayas.dev
API_DOMAIN=api.kayas.dev
AUTH_FRONTEND_DOMAIN=accounts.kayas.dev
AUTH_API_DOMAIN=identity.kayas.dev

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
POSTGRES_MULTIPLE_DATABASES=ecommerce_store,ecommerce_catalog,ecommerce_customer,ecommerce_pricing,ecommerce_inventory,ecommerce_notification,ecommerce_order,ecommerce_payment,ecommerce_shipment,ecommerce_subscription
STORE_DB_NAME=ecommerce_store
CATALOG_DB_NAME=ecommerce_catalog
CUSTOMER_DB_NAME=ecommerce_customer
PRICING_DB_NAME=ecommerce_pricing
INVENTORY_DB_NAME=ecommerce_inventory
NOTIFICATION_DB_NAME=ecommerce_notification
ORDER_DB_NAME=ecommerce_order
PAYMENT_DB_NAME=ecommerce_payment
SHIPMENT_DB_NAME=ecommerce_shipment
SUBSCRIPTION_DB_NAME=ecommerce_subscription

# ECommerce API
ASPNETCORE_ENVIRONMENT=Production
JWT_ISSUER=https://identity.kayas.dev
JWT_AUDIENCE=tenant-api
JWT_SECRET=change-me
ECOMMERCE_SERVICE_TOKEN=change-me
AUTH_SERVICE_BASE_URL=https://identity.kayas.dev
AUTH_SERVICE_API_KEY=change-me
FRONTEND_BASE_URL=https://shop.kayas.dev
DATA_PROTECTION_KEYS_PATH=/var/lib/ecommerce-api/keys

# Notification / Cloudinary / Payment
RESEND_API_KEY=change-me
RESEND_WEBHOOK_SECRET=change-me
NOTIFICATION_FROM_EMAIL=notifications@kayas.dev
NOTIFICATION_FROM_NAME=kayas Notifications
NOTIFICATION_REPLY_TO=support@kayas.dev
CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_API_SECRET=change-me
PAYMENT_GATEWAY_PROVIDER=Mock
IYZICO_ENVIRONMENT=Production
IYZICO_LOCALE=tr
IYZICO_CALLBACK_URL=https://api.kayas.dev/api/payments/callbacks/iyzico/checkout-form
IYZICO_DEFAULT_BUYER_IDENTITY_NUMBER=11111111111

# Frontend
NEXT_PUBLIC_API_BASE_URL=https://api.kayas.dev
NEXT_PUBLIC_DEFAULT_STORE_SLUG=default-store
NEXT_PUBLIC_AUTH_SERVICE_BASE_URL=https://identity.kayas.dev
AUTH_SERVICE_TENANT_REGISTER_PATH=/api/v1/tenants/register
AUTH_SERVICE_STORE_OWNER_REGISTER_PATH=/api/v1/tenants/register

